@mixin common-text-style {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}

.result {
  padding: 1rem 1.75rem;
  background-image: linear-gradient(to right, #4a4ad9, #a560a5);

  &__info {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include common-text-style();
    div {
      font-size: inherit;
    }

    &--answers {
      padding: 2.5rem 0;
    }
  }

  &__retry {
    display: flex;
    margin-top: 12rem;
    button {
      all: unset;
      color: #fff;
      background-color: #5dc972;
      width: 100%;
      border-radius: 25px;
      padding: 1.25rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem;
      &:disabled,
      &[disabled] {
        background-color: grey;
      }
    }
  }
}
