.answers {
  padding: 8rem 4rem 0;

  &__box {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    font-size: 1.15rem;
    font-weight: bold;
    button {
      all: unset;
      background-color: #eeeeee;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
      width: 100%;
      padding: 1rem;
      text-align: center;
      border-radius: 25px;
    }

    &--correct {
      button {
        background-color: #5dc972;
      }
    }
    &--wrong {
      button {
        background-color: #f48889;
      }
    }
  }
}
