.questionsBox {
  padding: 1.5rem;
  font-size: 1.25rem;
  color: grey;
  font-weight: bold;
  div {
    font-size: inherit;
  }
  &--question {
    padding-top: 2.5rem;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
  }
}
