@mixin common-text-style {
  font-weight: bold;
  color: white;
  text-align: center;
}

.login {
  padding: 1rem 1.75rem;
  background-image: linear-gradient(to right, #4a4ad9, #a560a5);

  &__title {
    @include common-text-style();
    padding: 8rem 0 12rem;
    font-size: 2rem;
  }

  &__subtitle {
    @include common-text-style();
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

  &__input {
    &--wrapper {
      display: flex;
      margin-bottom: 10rem;
      input {
        border: none;
        outline: none;
        width: 100%;
        border-radius: 25px;
        padding: 1.25rem;
        font-weight: bold;
        letter-spacing: 0.5px;
        &::placeholder {
          opacity: 0.6;
        }
      }
    }
  }

  &__submit {
    display: flex;
    button {
      all: unset;
      color: #fff;
      background-color: #5dc972;
      width: 100%;
      border-radius: 25px;
      padding: 1.25rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem;
      &:disabled,
      &[disabled] {
        background-color: grey;
      }
    }
  }
}
