.questions {
  &__timer {
    background-image: linear-gradient(to right, #52af57, #67e59f);
    display: flex;
    justify-content: center;
    min-height: 275px;
    position: relative;

    > div:first-of-type {
      svg {
        transform: scale(0.65);
      }
      div {
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  &__box {
    position: absolute;
    left: 1.25rem;
    right: 1.25rem;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    bottom: -5.5rem;
    border-radius: 16px;
    min-height: 150px;
  }
}
